{% extends "patp/base.html" %}
{% block title %}Главная страница{% endblock %}
{% csrf_token %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered sortable">
          <thead>
          <tr>
              <th>id</th>
              <th>ФИО</th>
              <th>модель</th>
              <th>Номер</th>
              <th>VIN</th>
              <th>Дата покупки</th>
              <th>Мощность</th>
              <th>Тех. Осмотр</th>
              <th>Пробег</th>
              <th>Тип</th>
          </tr>
          </thead>
          <tbody>
          {% for auto in transports %}
          <tr>
              <td>{{auto.id}}</td>
              <td>{{auto.user}}</td>
              <td>{{auto.model}}</td>
              <td>{{auto.avto_nomer}}</td>
              <td>{{auto.vin}}</td>
              <td>{{auto.engine_power}}</td>
              <td>{{auto.tech_inspection}}</td>
              <td>{{auto.mileage}}</td>
              <td>{{auto.type}}</td>

          </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
   
  
  </div>


  
</div>

 
{% endblock %}